
.Cell {
  height: 85px;
  width: 85px;
  border-radius: 1px;
  background-color: #263238;
  transition: background-color 0.7s ease;
}

@media only screen and (max-width: 480px) {
  .Cell {
    height: 75px;
  }
}


.Cell-lit {
  background-color: #00bcd4;
}